- content_for :toolbar do
  = link_to new_<%= singular_table_name %>_path, class: 'btn btn-default' do
    %i.icon-plus
    = t('action_button.new', resource_name: <%= singular_table_name.capitalize %>.model_name.human)

.panel.tables
  = render 'list'

= will_paginate @<%= plural_table_name %>, renderer: BootstrapPagination::Rails, bootstrap: 3
